body {
    font-family: Helvetica, sans-serif;
    width: 900px;
    margin: auto;
}

h3 {
    color: #505050;
    margin: 10px 0;
}

section.machine {
    margin-top: 40px;
    margin-left: 20px;
}
    ul.tape {
        margin: 0;
        padding: 0;
        height: 32px;
    }

        ul.tape li {
            list-style-type: none;
            border: 1px solid #aeaeae;
            float: left;
            width: 30px;
            height: 23px;
            text-align: center;
            padding-top: 7px;
            border-right: none;
            color: gray;
        }

        ul.tape li:last-child {
            border: 1px solid #aeaeae;
        }

        section.machine div.pointer {
           float: left;
           width: 31px;
        }

        section.machine div.pointer em {
            background-color: #696969;
            display: inline-block;
            width: 10px;
            height: 15px;
            margin-top: 6px;
            margin-left: 10px;
        }

        section.machine div.pointer em:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #696969;
            margin-top: -5px;
        }

        section.editor {
            margin: 40px 18px;
        }

        section.editor textarea {
            width: 815px;
            height: 315px;
            background-color: #5b5b5b;
            border: 3px solid #3e3e3e;
            resize: none;
            outline: none;
            font-size: 20px;
            color: #fff;
            font-family: monospace;
            padding: 10px;
        }
        section.editor .button {
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #eeeeee;
            display: block;
            float: left;
            color: gray;
            text-decoration: none;
            margin-bottom: 10px;
        }
        section.editor .hidden {
            display: none;
        }
        section.editor .button:active {
            background-color: #e9e9e9;
        }

    #interpreter #output {
        font-family: monospace;
        font-size: 17px;
        margin: 0;
        background-color: #eeeeee;
        min-height: 1.2em;
        padding: 10px;
        color: #5d5d5d;
    }

